@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FoundersGrotesk';
  src: url('fonts/FoundersGrotesk-Regular.otf'), url('fonts/FoundersGroteskRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.root,
#root,
#docs-root {
  --black: #282727;
  --grey: #F6F6F6;
  --oliveg: #484430;
  --terracotta: #84452D;
  --timber: #7B5F4D; 
  --greyhover: #9b9b9b;


  --primary: #367ee9;
  --secondary: #a0aec0;
  --accent: #718096;
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
}

.theme-light {
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
}

.theme-dark {
  --background: #0e141b;
  --main: #ffffff;
  --header: #eaeaea;
}

html,
body {
  font-family: "FoundersGrotesk", sans-serif;
  background-color: #fff;
  color: #222;
  height: 100%;
  font-size: 1.05rem;
  line-height: 1.4;
  font-weight: normal;

}

#__next {
  height: 100%;
}

a {
  color: var(--greyhover);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}

h1, .h1 {
  font-size: 1.5rem;
  line-height: 1.15;
}

h2, .h2 {
  font-size: 3rem;
}

h3, .h3 {
  font-size: 2.5rem;
}

h4, .h4 {
  font-size: 1.5rem;
  line-height: 1.15;
  margin-top: 1.15rem;

  margin-bottom: 1.15rem;
  letter-spacing: 0.5px;
}

h5, .h5 {
  font-size: 1.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 1.15;
  letter-spacing: 0.5px;

}

.text-white a {
  color: white;
}

/* site styles */
/* post list page */

.imageview__item {
  position: relative;
}

.imageview__item .text {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.imageview__item .text > div{
  opacity: 0;
}

.imageview__item:hover img {
  opacity: 0;
}

.imageview__item:hover .text > div {
  opacity: 1;
} 



/* list view starts */



/* end */


.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-container {
  max-height: 80vh !important;
}

.swiper-slide img{
  max-height: 75vh;
  margin: 0 auto;
}

.swiper-pagination {
  position: fixed !important;
  right: -10px !important;
  top: 48% !important;
  width: 60px !important;
  height: 60px !important;
  left: auto !important;
}

.swiper-pagination span {
  display: block;
}

.swiper-button-prev, .swiper-button-next {
  opacity: 0.5;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  height: 100% !important;
  top: 0 !important;
  width: 49% !important;
}

.swiper-button-prev:hover {
  cursor:url('../../src/assets/previous.png'), auto ;
}
.swiper-button-next:hover {
  cursor:url('../../src/assets/next.png'), auto ;
}


.text-slide blockquote {
  text-align: center;
}

.text-slide blockquote:first-of-type {
  margin-top: 4rem;
}

.text-slide h4 {
  font-size: 1rem
}
@media (max-width: 767px) {
  .swiper-pagination {top: auto !important; bottom: 1rem !important;}

 }

@media (min-width: 768px) { 
  .text-slide h4 {
    font-size:1.5rem;
  }

 }
